In [1]:
num1 = input("Enter num1:")
num2 = input("Enter num2:")
if num1<num2:
    print("yes")
else:
    print("no")

Enter num1: 1
Enter num2: 2

yes

In [2]:
names =['raman', 'baman', 'taman']
updated_names=[]

In [3]:
for i in names:
    updated_names.append(i+" gk")
updated_names

['raman gk', 'baman gk', 'taman gk']

In [4]:
emp_data = {'ids':[101,102,103,103],
           'names':['Naman','Baman','Taman','Raman'],
           'salary':[40000,50000,45000,70000]}
emp_data

{'ids': [101, 102, 103, 103],
 'names': ['Naman', 'Baman', 'Taman', 'Raman'],
 'salary': [40000, 50000, 45000, 70000]}

In [5]:
emp_data.keys()

dict_keys(['ids', 'names', 'salary'])

In [6]:
emp_data.values()

dict_values([[101, 102, 103, 103], ['Naman', 'Baman', 'Taman', 'Raman'], [40000, 50000, 45000, 70000]])

In [7]:
emp_data.items()

dict_items([('ids', [101, 102, 103, 103]), ('names', ['Naman', 'Baman', 'Taman', 'Raman']), ('salary', [40000, 50000, 45000, 70000])])

In [8]:
emp_data['names']

['Naman', 'Baman', 'Taman', 'Raman']

zipping the values

In [9]:
for i,j in emp_data.items():
    print(i,j)

ids [101, 102, 103, 103]
names ['Naman', 'Baman', 'Taman', 'Raman']
salary [40000, 50000, 45000, 70000]

In [16]:
new_dict = {}
for ids,name,salary in zip(emp_data['ids'], emp_data['names'], emp_data['salary']):
    new_dict[name] = {'id':ids,'salary':salary}
new_dict

{'Naman': {'id': 101, 'salary': 40000},
 'Baman': {'id': 102, 'salary': 50000},
 'Taman': {'id': 103, 'salary': 45000},
 'Raman': {'id': 103, 'salary': 70000}}

In [ ]:
a = 10
b = "string"
c = 10.2
d = [1,2,3]
e = ("raman",'baman','taman')
f = {1,2,3}

In [14]:
s1 = "Sakshi"
print(s1.replace(s1,"Riddhi"))
print(s1)

Riddhi
Sakshi

In [27]:
def add(*args):
    return sum(args)
add(1, 2, 3 )

6

In [26]:
def stud_data(**kwargs):
    for name,scores in kwargs.items():
        if scores>60:
            print(name,"got A")
        else:
            print(name,"got B")
stud_data(Suman=56, Raman=36)

Suman got B
Raman got B

In [37]:
def square(lst):
    sq_lst =[x**2 for x in lst]
    return sq_lst
lst = map(int,input("Enter the number seperated by spaces:").split())
square(lst)

Enter the number seperated by spaces: 2 3 4

[4, 9, 16]

In [51]:
sq_lst = [int(i)**2 for i in input("Enter the numbers seperated by spaces:").split()]
print(sq_lst)

Enter the numbers seperated by spaces: 12 3 2

[144, 9, 4]

In [49]:
sq_lst = list(map(lambda x : x**2 ,lst))
lst = map(int,input("Enter the number seperated by spaces:").split())
sq_lst

Enter the number seperated by spaces: 1 2 3 4

[1, 4, 9, 16]